.contacts {
  padding: 130px 0;

  @media (max-width: $tablet-max) {
    padding: 120px 0;
  }

  @media (max-width: $mobile-max) {
    padding: 90px 0;
  }
}

.contacts-inner {
  @include inner();
}

.contacts-title {
  @include section-title();
  margin-bottom: 80px;
}

.contact-item {
  display: none;

  &.active {
    display: flex;
    justify-content: flex-end;
    margin-left: -$gap-half;
    margin-right: -$gap-half;
  }

  @media (max-width: $mobile-max) {
    &.active {
      flex-direction: column;
    }
  }
}

.contact-info {
  flex-basis: 33.33%;
  padding: 0 $gap-half;


  p {
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 33px;
    font-weight: 400;
  }

  a {
    color: $color-dark;
    text-decoration: none;
  }
}

.contact-map {
  flex-basis: 58.33%;
  padding: 0 $gap-half;

  @media (max-width: $tablet-max) {
    flex-basis: 66.66%;
  }
}
