.footer {
  padding: 20px 0;
  color: $color-light;
  background-color: $color-dark;
}

.footer-inner {
  @include inner;
}

.footer-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
  margin-right: auto;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $color-light;
  text-decoration: none;
}

.footer-phone {
  font-size: 28px;
  line-height: 38px;
  color: inherit;
  text-decoration: none;
}
