.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  width: 100%;
  color: $color-light;
  background-color: $color-dark;
}

.header-inner {
  @include inner;
}

.header-wrap {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: auto;
  font-family: $font;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 57px;
  color: $color-light;
  text-decoration: none;

  @media (max-width: $tablet-max) {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
  }

  @media (max-width: $mobile-max) {
    padding: 16px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
  }
}

.header-burger {
  display: none;

  @media (max-width: $mobile-max) {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url(../images/header-burger.svg);
  }

}
