.order {
  padding: 130px 0;
  background-color: rgba($color-dark, .1);
}

.order-inner {
  @include inner;
}

.order-title {
  margin-bottom: 40px;
  @include section-title;
}

.order-text {
  margin-bottom: 90px;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: $color-dark;
}
