.social {
  margin-left: 60px;
  display: flex;
  list-style: none;

  @media (max-width: $tablet-max) {
    margin-left: 50px;
  }

  @media (max-width: $mobile-max) {
    margin-left: 0;
    margin-bottom: 35px;
  }

}

.social-item {
  margin-left: 15px;
}

.social-link {
  display: block;
  width: 26px;
  height: 26px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
