.works {
  padding: 130px 0;
  text-align: center;
}

.works-inner {
  @include inner;
}

.works-title {
  @include section-title;
  margin-bottom: 100px;
}

.works-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;

}

.works-item {

}

.works-figure {
  position: relative;
}

.works-img-desc {
  position: absolute;
  //left: 0;
  bottom: 5px;
  width: 100%;
  padding: 15px;
  font-size: 24px;
  line-height: 33px;
  color: $color-light;
  background-color: rgba($color-dark, .4);

}

