@mixin inner($width: 1278px) {
  max-width: $width + $gap;
  margin: 0 auto;
  padding: 0 $gap-half;
  border: 1px solid red;
}

@mixin section-title {
  font-size: 64px;
  font-weight: 400;
  line-height: 87px;
  text-align: center;
  color: $color-dark;

  @media (max-width: $tablet-max) {
    font-size: 60px;
    line-height: 82px;
  }

  @media (max-width: $mobile-max) {
   font-size: 36px;
   line-height: 49px;
  }
}
